<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite" parallel ="tests" thread-count="2" >
  <test  name="Chrome Test">
    <classes>
   
      <class name="mukeshOtwaniGrid.Griddemo"/>
    </classes>
  </test> 
  <test  name="Firefox Test">
    <classes>
      <class name="mukeshOtwaniGrid.Griddemo2"/>
     
    </classes>
  </test> 
  
  
  
  <!-- Test -->
</suite> <!-- Suite -->

 
